<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Joint Expense Tracker (ES servlet-api training task)</display-name>

  <filter>
    <filter-name>RequestEncodingFilter</filter-name>
    <filter-class>com.es.jointexpensetracker.web.RequestEncodingFilter</filter-class>
  </filter>
  <filter>
    <filter-name>FlashMessageFilter</filter-name>
    <filter-class>com.es.jointexpensetracker.web.FlashMessageFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>RequestEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FlashMessageFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>ExpenseGroupServlet</servlet-name>
    <servlet-class>com.es.jointexpensetracker.web.ExpenseGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExpenseListServlet</servlet-name>
    <servlet-class>com.es.jointexpensetracker.web.ExpenseListServlet</servlet-class>
    
  </servlet>
  <servlet>
    <servlet-name>ExpenseServlet</servlet-name>
    <servlet-class>com.es.jointexpensetracker.web.ExpenseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatisticsServlet</servlet-name>
    <servlet-class>com.es.jointexpensetracker.web.StatisticsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ExpenseGroupServlet</servlet-name>
    <url-pattern>/expense-groups/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExpenseListServlet</servlet-name>
    <url-pattern>/expenses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExpenseServlet</servlet-name>
    <url-pattern>/expenses/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticsServlet</servlet-name>
    <url-pattern>/statistics</url-pattern>
  </servlet-mapping>

</web-app>
