<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Joint Expense Tracker (ES servlet-api training task)</display-name>

  <servlet>
    <servlet-name>expenseList</servlet-name>
    <servlet-class>com.es.jointexpensetracker.web.ExpenseListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>expense</servlet-name>
    <servlet-class>com.es.jointexpensetracker.web.ExpenseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>statistics</servlet-name>
    <jsp-file>/WEB-INF/pages/statistics.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>expenseList</servlet-name>
    <url-pattern>/expenses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>expense</servlet-name>
    <url-pattern>/expenses/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>statistics</servlet-name>
    <url-pattern>/statistics</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>NotificationFilter</filter-name>
    <filter-class>com.es.jointexpensetracker.filter.NotificationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>NotificationFilter</filter-name>
    <url-pattern>/expenses</url-pattern>
    <url-pattern>/expenses/*</url-pattern>
  </filter-mapping>
</web-app>
