<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Joint Expense Tracker (ES servlet-api training task)</display-name>
  
  <servlet>
    <servlet-name>expenseGroup</servlet-name>
    <servlet-class>com.es.jointexpensetracker.web.servlet.ExpenseGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>homePage</servlet-name>
    <servlet-class>com.es.jointexpensetracker.web.servlet.HomePageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>statistics</servlet-name>
    <servlet-class>com.es.jointexpensetracker.web.servlet.StatisticsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addExpense</servlet-name>
    <servlet-class>com.es.jointexpensetracker.web.servlet.AddExpenseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteExpense</servlet-name>
    <servlet-class>com.es.jointexpensetracker.web.servlet.DeleteExpenseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>expenseList</servlet-name>
    <servlet-class>com.es.jointexpensetracker.web.servlet.ExpenseListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>expense</servlet-name>
    <servlet-class>com.es.jointexpensetracker.web.servlet.ExpenseServlet</servlet-class>
  </servlet>

  <filter>
    <filter-name>flashScope</filter-name>
    <filter-class>com.es.jointexpensetracker.filter.FlashScopeFilter</filter-class>
  </filter>
  <filter>
    <filter-name>correctURI</filter-name>
    <filter-class>com.es.jointexpensetracker.filter.CorrectURIFilter</filter-class>
  </filter>

  <servlet-mapping>
    <servlet-name>homePage</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>expenseGroup</servlet-name>
    <url-pattern>/expense-group/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addExpense</servlet-name>
    <url-pattern>/expenses/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteExpense</servlet-name>
    <url-pattern>/deleteExpense/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>expenseList</servlet-name>
    <url-pattern>/expenses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>expense</servlet-name>
    <url-pattern>/expenses/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>statistics</servlet-name>
    <url-pattern>/statistics</url-pattern>
  </servlet-mapping>

  <filter-mapping>
    <filter-name>correctURI</filter-name>
    <servlet-name>addExpense</servlet-name>
    <servlet-name>deleteExpense</servlet-name>
    <servlet-name>expenseList</servlet-name>
    <servlet-name>expense</servlet-name>
    <servlet-name>statistics</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>flashScope</filter-name>
    <servlet-name>expenseList</servlet-name>
    <servlet-name>expense</servlet-name>
    <servlet-name>addExpense</servlet-name>
    <servlet-name>expenseGroup</servlet-name>
  </filter-mapping>

<error-page>
  <error-code>404</error-code>
  <location>/WEB-INF/pages/page404.jsp</location>
</error-page>
  </web-app>


